:root {
  --font-exlarge: 60px;
}

.landing-title {
  font-size: var(--font-exlarge);
  font-weight: 600;
  display: inline-block;
  padding: 10px 0px;
  margin: -40px 0 10px 0;
}

.landing-logo {
  display: inline-block;
  margin-right: 15px;
  width: 60px;
}

.landing-profile {
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 20%;
}

.landing-container {
  height: 91%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.warning {
  border-color: red !important;
  height: 200%;
}

h3 {
  font-size: var(--font-large);
  text-align: center;
  margin-bottom: 40px;
}
